*, *:after, *:before { vertical-align: top; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-osx-font-smoothing: subpixel-antialiased; -webkit-font-smoothing: subpixel-antialiased; -moz-font-smoothing: subpixel-antialiased; -ms-font-smoothing: subpixel-antialiased; -o-font-smoothing: subpixel-antialiased; }

#link { padding: 30px 0; position: relative; }
#link .link-title { padding: 0 60px; }
#link .link-title h2 { position: relative; margin: 0; font-size: 30px; }
@media screen and (max-width: 768px) and (min-width: 0) { #link .link-title h2 { font-size: 24px; } }
#link .link-title h2:after { content: ""; background-image: url("../img/diamond.png"); height: 13px; margin: 5px auto; position: absolute; top: 40px; left: calc(50% - 34px); width: 68px; }
@media screen and (max-width: 767px) and (min-width: 320px) { #link .link-title h2:after { margin: 5px 0; position: absolute; top: 30px; left: calc(50% - 34px); } }
#link .link-title h2 span { color: #db0f2b; }
#link .link-title h6 { color: #383f46; font-size: 13px; font-weight: normal; margin: 0; padding-top: 20px; }
@media screen and (max-width: 767px) and (min-width: 320px) { #link .link-title h6 { font-size: 13px; } }
#link .link-box { display: flex; padding: 0 60px; margin-top: 30px; }
@media screen and (max-width: 767px) and (min-width: 320px) { #link .link-box { flex-direction: column; padding: 0 15px; } }
#link .link-box .link-flex { flex-basis: 50%; }
#link .link-box .link-flex .fb-page { width: 100%; }
#link .link-box .link-flex .link-logo-box .link-name { text-align: left; }
#link .link-box .link-flex .link-logo-box .link-logo { background-color: #ffffff; border: 2px solid #eff3f2; margin: 0 auto; padding: 20px; position: relative; text-align: left; width: 100%; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
#link .link-box .link-flex .link-logo-box .link-logo a { text-decoration: none; }
#link .link-box .link-flex .link-logo-box .link-logo:after { content: '\25BA'; position: absolute; top: calc(50% - 12px); right: 20px; text-align: center; width: 25px; height: 25px; line-height: 25px; font-size: 12px; color: #ffffff; background-color: #cd9566; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; }
#link .link-box .link-flex .link-logo-box .link-text { color: #323232; display: inline-block; font-size: 13px; letter-spacing: 1px; line-height: 16px; padding-left: 20px; text-align: left; }
#link .sec_skew_r { position: absolute; top: 0; left: 0; width: 100%; height: 80%; background-color: #f5edde; z-index: -1; transform: skewY(-10deg); transform-origin: right top; }

footer { font-size: 13px; margin: 60px 0; position: relative; }
footer .footer { padding: 20px 60px; margin: 150px 0 60px 0; position: relative; }
@media screen and (max-width: 767px) and (min-width: 320px) { footer .footer { padding: 10px 15px; margin: 0 15px; } }
footer .footer:before, footer .footer:after { content: ""; color: #efdfd0; width: 100%; border-radius: 20px; position: absolute; left: 0; }
footer .footer:before { top: 0; border-top: 4px solid #efdfd0; }
@media screen and (max-width: 767px) and (min-width: 320px) { footer .footer:before { border-top: 4px solid #cc9564; } }
footer .footer:after { bottom: 0; border-bottom: 4px solid #efdfd0; }
@media screen and (max-width: 767px) and (min-width: 320px) { footer .footer:after { border-bottom: 4px solid #cc9564; } }
